/* Set style sheet across different browsers */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}


/* Style the page background */
body {
	background-color: #f4f4f4;
	color: #333;
	font-family: "Open Sans", sans-serif;
	line-height: 1.5;
	font-size: 16px;
	overflow-x: hidden;
}

/* Style the header section */
header {
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	padding: 20px;
	text-align: center;
	opacity: 1;
	transform: translateY(0);
	animation: fade-in 0.5s ease forwards, slide-down 1s ease forwards;
}

header nav ul {
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin: 20px;
}

header nav li {
	margin: 0 10px;
}

header nav a {
	display: inline-block;
	border-bottom: 2px solid transparent;
	padding: 10px 20px;
	color: #333;
	text-decoration: none;
	transition: border-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
}

header nav a:hover {
	border-color: #0077be;
	transform: translateY(-5px);
	color: #0077be;
}

header nav a h1 {
	font-size: 48px;
	margin-bottom: 10px;
}

header p {
	font-size: 20px;
}

header img {
	display: block;
	max-width: 200px;
	margin: 0 auto 0;
}

.header-container {
	position: relative;
	width: 100%;
	height: auto;
}

.header-container h1 {
	font-size: 24px;
}

.header-container p {
	font-size: 18px;
}

/* Toggle button styles */
.toggle-btn {
	display: none;
	background-color: transparent;
	border: none;
	color: #333;
	font-size: 24px;
	padding: 10px;
	cursor: pointer;
}

@media (max-width: 768px) {
	.header-nav {
		display: none;
	}

	header nav .toggle-btn {
		display: block;
	}

	header nav ul {
		flex-direction: column;
	}

	header nav li {
		margin: 10px 0;
	}

	main .column {
		padding: 10px;
	}
}


/* Style the header image section */
.header-image-navbar {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}

.header-image-navbar nav {
	text-align: center;
	list-style: none;
	margin: 10px;
}

.header-image-navbar nav ul {
	display: inline-block;
	list-style: none;
	margin: 20px;
}

.header-image-navbar li {
	display: inline-block;
}

.header-image-navbar a {
	display: block;
	border: 1px solid #000;
	padding: 10px 20px;
	color: #333;
	text-decoration: none;
	transition: border-color 0.3s ease, color 0.3s ease;
	background-color: white;
	text-align: center;
	border-radius: 10px;
	font-size: 1em;
}

.header-image-navbar nav li {
	margin: 0 10px;
	border-radius: 10px;
}

.header-image-navbar nav a {
	display: inline-block;
	border: 1px solid #000;
	color: #333;
	text-decoration: none;
	transition: border-color 0.3s ease, color 0.3s ease;
	background-color: white;
}

.header-image-navbar nav a:hover {
	border: 2px solid #fff;
	background-color: transparent;
	color: #fff;
	transition: border-color 0.3s ease, color 0.3s ease;
}

.header-image {
	width: 100%;
	min-height: 514px;
	position: relative;
	overflow: hidden;
	display: flex;
}

.header-image::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	background-image: url(headerphoto3.jpg);
	filter: brightness(80%) contrast(90%) saturate(90%) grayscale(0.2) hue-rotate(0deg) sepia(0.2) blur(2px);
}

.header-text {
	color: #fff;
	text-align: center;
	font-size: calc(1.5em + 1vw);
	line-height: 1.5;
	z-index: 1;
	position: absolute;
	top: 20%;
	bottom: 40%;
	bottom: 100%;
	max-height: 280px;
	margin: 10px;
	display: flex;
}

.header-text h2 {
	font-size: 1.75em;
	font-family: "Open Sans", sans-serif;
}

@media (max-width: 876px) {
	.header-text {
		top: 10%;
	}

	.header-text h2 {
		font-size: calc(1.5em + 1vw);
	}
}

@media (max-width: 574px) {
	.header-text {
		top: 15%;
	}

	.header-text h2 {
		font-size: calc(1.33em + 1vw);
	}
}

@media (max-width: 408px) {
	.header-image-navbar a {
		font-size: 1em;
		/* Adjust font size for smaller screens */
		padding: 10px;
		/* Adjust padding for smaller screens */
	}

}



/* Style the main content section */
main {
	max-width: 1200px;
	margin: 0 auto;
	padding: 40px;

}

main img {
	box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
	border-radius: 10px;
	display: block;
	margin: 0 auto 20px;
	max-width: 200px;
}

.main-col {
	flex: 2;
}

.main-col ul li a {
	color: #000000;
	text-decoration: none;
	transition: color 0.3s ease;
	display: block;
}

.main-col ul li a:hover {
	color: #0077be;
	padding-left: 10px;
}

main .wrapper {
	flex-wrap: wrap;
}

main .column {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 20px;
	box-sizing: border-box;
}

/* style all sections */
section {
	margin-bottom: 40px;
}

section h2 {
	font-size: 24px;
	margin-bottom: 20px;
}

section ul {
	list-style: none;
	margin-left: 20px;
}

section li {
	margin-bottom: 10px;
}

section img {
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
	display: block;
	height: auto;
	max-width: 100%;
	margin-bottom: 10px;
}

section h3 {
	font-size: 24px;
	margin-bottom: 10px;
}

section p {
	font-size: 18px;
	line-height: 1.3;
}


.wrapper {
	display: flex;
	flex-wrap: wrap;
}

#manufacturerWarranty a h2 {
	color: #000;
}

.column {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
}

.column img {
	max-width: 100%;
	height: auto;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
	border-radius: 10px;
}

/* Style the footer section */
footer {
	background-color: #333;
	color: #fff;
	padding: 1vw;
	text-align: center;
}

footer p {
	font-size: 16px;
	margin: 0;
}

.footer .container {
	max-width: 1250px;
	margin: auto;
}

footer ul {
	list-style: none;
}

.footer-row {
	display: flex;
	flex-wrap: wrap;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.footer-col {
	width: 20%;
	margin: 1vw 0 1vw 0;
}

.footer-col h4 {
	font-size: 18px;
	color: #fff;
	position: relative;
}

.footer-col h4::before {
	content: '';
	position: absolute;
	bottom: -0.5px;
	width: 75px;
	height: 2px;
	background-color: #0077be;
	box-sizing: border-box;
}

.footer-col ul {
	list-style: none;
}

.footer-col ul li {
	margin: 0.5vw 0 0 0;
}

.footer-col ul li:not(:last-child) {
	margin: 0.5vw 0 0 0;
}

.footer-col ul li a {
	color: #fff;
	text-decoration: none;
	transition: color 0.3s ease;
	display: block;
	font-size: 16px;
}

.footer-col ul li a:hover {
	color: #0077be;
	padding-left: 10px;
}

.footer-col .social-links a {
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: (255, 255, 255, 0.2);
	border-radius: 50%;
	color: #fff;
	text-align: center;
	line-height: 40px;
	margin-right: 10px;
	transition: background-color 0.3s ease;
	margin: 0.5vw 0 0.5vw 0;
}

.footer-col .social-links a:hover {
	background-color: #0077be;
}

.footer-col img {
	max-width: 100%;
	height: auto;
}

.footer-image {
	max-width: 200px;
	margin: 0 auto;
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.footer-col ul {
	list-style: none;
}

.footer-col ul li {
	margin-bottom: 0px;
}

.footer-col ul li:not(:last-child) {
	margin-bottom: 10px;
}

/*responsive footer*/
@media (max-width: 767px) {
	.row {
		flex-direction: column;
	}

	.footer-col {
		width: 50%;
		margin: 0 0 2vw 0;
	}

	.footer-image {
		max-width: 160px;
	}

	.footer-col ul li {
		margin: 1vw 0 0 0;
	}

	.footer-col ul li:not(:last-child) {
		margin: 1.5vw 0 0 0;
	}

	.footer .container {
		margin-top: 2vw;
	}
}

@media (max-width: 574px) {
	.footer-col {
		width: 100%;
		margin: 2vw 0 2vw 0;
	}

	.footer-image {
		max-width: 200px;
	}
}

.hidden {
	filter: blur(5px);
	opacity: 0;
	transform: translateX(-100%);
	transition: all 1s;
}

@media (prefers-reduced-motion: reduce) {
	.hidden {
		transition: none;
	}
}

.show {
	opacity: 1;
	filter: blur(0);
	transform: translateY(0);
}

/* Style links throughout the site */
a {
	color: #0077be;
	text-decoration: none;
	transition: color 0.3s ease;
}

a:hover {
	color: #004e80;
}

/* Image slider styles */
.slider-container {
	max-width: 100%;
	max-height: 100%;
	position: relative;
}

.slider {
	margin: auto;
	max-width: 100%;
	max-height: 60%;
	position: relative;

}

.slide {
	display: none;
	height: auto;
	position: relative;
	width: 100%;
}

.slide:first-child {
	display: block;
}

.slider-img {
	background-position: center;
	max-height: 80vh;
	width: 100%;
}

.slide-text {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 20px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
}

.slide-heading {
	margin-bottom: 10px;
}

.slide nav a:hover {
	border: 2px solid #fff;
	color: #fff;
	background-color: transparent;
}

.slider::after {
	clear: both;
	content: "";
	display: table;
}

.slider-navbar {
	position: absolute;
	place-items: center;
	display: flex;
	bottom: 25px;
	right: calc(17.5% + 1vw);
}

.slider-navbar nav {
	text-align: center;
	list-style: none;
	margin: 0;
}

.slider-navbar nav ul {
	display: flex;
	list-style: none;
	margin: 0;
}

.slider-navbar li {
	display: inline-block;
	margin: 0 10px;
}

.slider-navbar a {
	display: block;
	border: 1px solid #000;
	padding: 5px 10px;
	color: #333;
	text-decoration: none;
	transition: border-color 0.3s ease, color 0.3s ease;
	background-color: #fff;
	text-align: center;
	font-size: 14px;
	border-radius: 5px;
}

.slider-navbar nav li {
	margin: 0 10px;
	border-radius: 10px;
}

.slider-navbar nav a {
	display: inline-block;
	border: 1px solid #000;
	color: #333;
	text-decoration: none;
	transition: border-color 0.3s ease, color 0.3s ease;
	background-color: #fff;
}

.prev,
.next {
	background: rgba(0, 0, 0, 0.75);
	color: #fff;
	cursor: pointer;
	font-size: 30px;
	height: 50px;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	width: 80px;
}

.prev {
	left: 0;
}

.next {
	right: 0;
}

.dots {
	position: absolute;
	text-align: center;
	width: 100%;
	bottom: -20px;
}

.dot {
	background-color: #bbb;
	border-radius: 50%;
	cursor: pointer;
	display: inline-block;
	height: 10px;
	margin: 0 2px;
	transition: background-color 0.6s ease;
	width: 10px;
}

.active,
.dot:hover {
	background-color: #717171;
}

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {
		opacity: .4
	}

	to {
		opacity: 1
	}
}

@keyframes fade {
	from {
		opacity: .4
	}

	to {
		opacity: 1
	}
}

/* Mobile responsive styles */
@media (max-width: 767px) {
	main {
		padding: 20px;
	}

	main img {
		max-width: 100%;
	}

	.slider-container {
		max-height: 100%;
	}

	.slider {
		max-width: 100%;
		max-height: 100%;
	}

	.slide-text {
		padding: 10px;
	}

	.slider-navbar {
		right: calc(2.5% + 1vw);
		bottom: 20px;
	}

	.prev,
	.next {
		height: 30px;
		font-size: 20px;
		width: 50px;
	}

	.dots {
		bottom: -20px;
	}

	#projectPage.dots {
		bottom: -40px;
	}

	.dot {
		height: 8px;
		width: 8px;
		margin: 0 5px;
	}

	section h2 {
		font-size: 20px;
		margin-bottom: 15px;
	}

	section h3 {
		font-size: 20px;
		margin-bottom: 8px;
	}

	section p {
		font-size: 16px;
		line-height: 1.2;
	}

	.slider-navbar li {
		margin: 0 2px;
	}

	.slider-navbar a {
		padding: 3px 6px;
		font-size: 12px;
		border-radius: 3px;
	}

}

/* Tablet responsive styles */
@media (min-width: 768px) and (max-width: 991px) {
	main {
		padding: 30px;
	}

	main img {
		max-width: 100%;
	}

	.slider-container {
		max-height: 100%;
	}

	.slider {
		max-width: 100%;
		max-height: 100%;
	}

	.slide-text {
		padding: 10px;
	}

	.slider-navbar {
		right: calc(2.5% + 1vw);
		bottom: 16px;
	}

	.prev,
	.next {
		height: 40px;
		font-size: 25px;
		width: 70px;
	}

	.dots {
		bottom: -25px;
	}

	.dot {
		height: 10px;
		width: 10px;
		margin: 0 7px;
	}

	section h2 {
		font-size: 22px;
		margin-bottom: 15px;
	}

	section h3 {
		font-size: 22px;
		margin-bottom: 10px;
	}

	section p {
		font-size: 18px;
		line-height: 1.3;
	}

	.slider-navbar li {
		margin: 0 8px;
	}

	.slider-navbar a {
		padding: 5px 8px;
		font-size: 14px;
		border-radius: 5px;
	}

}

/* Desktop responsive styles */

@media (min-width: 992px) {
	main {
		padding: 50px;
	}

	.slider {
		max-width: 100%;
		max-height: 100%;
		margin: auto;
	}

	.slide-text {
		padding: 20px;
	}

	.slider-navbar {
		right: calc(2% + 1vw);
		bottom: 30px;
	}

	.prev,
	.next {
		height: 50px;
		font-size: 30px;
		width: 100px;
	}

	.dots {
		bottom: -20px;
	}

	.dot {
		height: 12px;
		width: 12px;
		margin: 0 10px;
	}

	section h2 {
		font-size: 28px;
		margin-bottom: 20px;
	}

	section h3 {
		font-size: 28px;
		margin-bottom: 15px;
	}

	section p {
		font-size: 20px;
		line-height: 1.5;
	}

	.slider-navbar li {
		margin: 0 15px;
	}

	.slider-navbar a {
		padding: 8px 12px;
		font-size: 16px;
		border-radius: 5px;
	}

}

/* animations */
@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes slide-down {
	from {
		transform: translateY(-50%);
	}

	to {
		transform: translateY(0);
	}
}

/* Style the form */
form {
	display: flex;
	flex-direction: column;
	padding: 2vw 4vw;
	width: 90%;
	max-width: 500px;
	border: 1px solid #ccc;
	border-radius: 10px;
	margin: 0 auto;
	min-height: 400px;
}

form h3 {
	text-align: center;
	margin-bottom: 20px;
	font-family: "Open Sans", sans-serif;
	color: #333;
}

form input,
form textarea {
	background-color: #fff;
	color: #000000;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	margin-bottom: 10px;
	min-width: 100%;
	outline: none;
	padding: 10px;
	resize: none;
}

form textarea {
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 5px;
	outline: none;
	font-size: 16px;
	font-family: "Open Sans", sans-serif;
	min-height: 320px;
	min-width: 100%;
}

form .field input {
	padding-left: 28px;
}

form .field input:focus {
	border: 1px solid #0077be;
}

form .message textarea {
	padding-left: 28px;
}

form .message textarea:focus {
	border: 1px solid #0077be;
}

.field input:focus,
.message textarea:focus {
	border: 2px solid #0D6EFD;
}

.field input:focus~i,
.message textarea:focus~i {
	color: #0D6EFD;
}

form .field input::placeholder,
form .message textarea::placeholder {
	color: #ccc;
}

input:focus::placeholder,
textarea:focus::placeholder {
	opacity: 0;
}

form .field i {
	position: absolute;
	top: 50%;
	left: 8px;
	color: #ccc;
	font-size: 17px;
	pointer-events: none;
	transform: translateY(-75%);
}

form .message i {
	position: absolute;
	top: 7%;
	left: 8px;
	color: #ccc;
	font-size: 17px;
	pointer-events: none;
	transform: translateY(-75%);
}

form .message {
	position: relative;
}

form .message textarea::-webkit-scrollbar {
	width: 0px;
}

form button {
	background-color: #0077be;
	color: #fff;
	border: none;
	cursor: pointer;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	outline: none;
	margin: 20px auto 0;
	padding: 10px;
	border-radius: 30px;
	width: 150px;
}

form i {
	position: absolute;
	color: #ccc;
	font-size: 17px;
	pointer-events: none;
	align-content: center;
}

form .field {
	position: relative;
}

form button[type="submit"]:hover {
	background-color: #004e80;
}

/* Responsive styles for tablets and mobile devices */
@media only screen and (max-width: 768px) {
	form {
		width: 100%;
		padding: 2vw 5vw;
	}
}

/* Safari on iOS specific styles */
@media only screen and (max-width: 768px) and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
	form {
		padding: 2vw 7vw;
	}
}